language: python

python: 2.7

env:
  - TOXENV=py24
  - TOXENV=py25
  - TOXENV=py26
  - TOXENV=py27
  - TOXENV=py32
  - TOXENV=py33
  - TOXENV=py34
  - TOXENV=pypy
  - TOXENV=flake8

install:
  - pip install tox

script:
  - tox
